Raimundo Burchardt
Student Number: 1779575
Master: Data-Driven-Design

# Data Cleaning : Mentors / mentee seekers from Europe

In [1]:
import pandas as pd

In [2]:
#2) import dataset obtained from the survey in GoogleForm converted into .csv format

In [3]:
df = pd.read_csv('mentor_eu.csv')
#df_ch = pd.read_csv('mentors_students_cleaned.csv')

In [4]:
df.head(5)

,Timestamp,intelligence_type,mentor_role,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender
0,2021/06/21 8:43:06 pm EET,musical;existential;interpersonal,To support with decision making;To motivate,Sustainability,Communication skills,Once per week ( 15 - 30 minute session),Empathy,17-21,Not relevant,26,Male
1,2021/06/24 11:09:38 am EET,interpersonal,To motivate,Design,Communication skills,Instead of sessions I would prefer weekly e-ma...,Enthusiam,Not relevant,Not relevant,21,Male
2,2021/06/24 1:00:15 pm EET,interpersonal;linguistic,To offer guidance;To motivate,Design,Writing skills,Once per week ( 15 - 30 minute session),Enthusiam,Not relevant,Not relevant,32,Female
3,2021/06/24 1:50:07 pm EET,mathematical;corporal,To motivate;To help to solve problems,Sustainability,Communication skills,Instead of sessions I would prefer weekly e-ma...,Meticulousness,17-21,Not relevant,27,Female
4,2021/06/24 3:33:47 pm EET,existential;interpersonal;corporal,To support with decision making;To help to sol...,Design,Expertise in the field selected in the previou...,Twice per month ( 15 - 30 minute session),Empathy,Not relevant,Not relevant,27,Male

In [5]:
# convert whole dataframe to lower_case
df = df.applymap(lambda s:s.lower() if type(s) == str else s)

In [6]:
df.head(2)

,Timestamp,intelligence_type,mentor_role,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender
0,2021/06/21 8:43:06 pm eet,musical;existential;interpersonal,to support with decision making;to motivate,sustainability,communication skills,once per week ( 15 - 30 minute session),empathy,17-21,not relevant,26,male
1,2021/06/24 11:09:38 am eet,interpersonal,to motivate,design,communication skills,instead of sessions i would prefer weekly e-ma...,enthusiam,not relevant,not relevant,21,male

In [7]:
# converting categorical variables into a common name among different datasets
df.loc[df['mentor_skills'].str.contains('expertise'), 'mentor_skills'] = 'career know-how'
df.loc[df['mentor_career'].str.contains('resources'), 'mentor_career'] = 'psychology/rrhh'

In [8]:
df.head(2)

,Timestamp,intelligence_type,mentor_role,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender
0,2021/06/21 8:43:06 pm eet,musical;existential;interpersonal,to support with decision making;to motivate,sustainability,communication skills,once per week ( 15 - 30 minute session),empathy,17-21,not relevant,26,male
1,2021/06/24 11:09:38 am eet,interpersonal,to motivate,design,communication skills,instead of sessions i would prefer weekly e-ma...,enthusiam,not relevant,not relevant,21,male

# 5 Data cleaning Intelligence Types - converting the values into a list and separate each input by columns ( users were allowed to give up to three inputs for intelligence types)

In [9]:
df_separate = df['intelligence_type'].str.split(';', expand=True)

In [10]:
#managing missing values filling with 0 for avoiding errors in system
df_separate.fillna(0)

                0              1              2
0         musical    existential  interpersonal
1   interpersonal              0              0
2   interpersonal     linguistic              0
3    mathematical       corporal              0
4     existential  interpersonal       corporal
5         natural       corporal     linguistic
6         musical  interpersonal       corporal
7   interpersonal  intrapersonal              0
8         musical  interpersonal       corporal
9    mathematical  interpersonal              0
10    existential              0              0
11        natural        musical              0
12     linguistic              0              0
13   mathematical    existential              0
14   mathematical  interpersonal              0
15    existential  intrapersonal              0

In [11]:
df_separate.head(1)

         0            1              2
0  musical  existential  interpersonal

In [12]:
#renaming columns for having integrity of data across all datasets and carrying on data cleaning

In [13]:
df_separate.rename(columns={0: "itype1", 1: "itype2", 2: 'itype3'}, inplace=True)

In [14]:
df_separate.head(2)

          itype1       itype2         itype3
0        musical  existential  interpersonal
1  interpersonal         None           None

In [15]:
# this is the new dataframe for intelligence types which will be concatenated to the main one
df1 = pd.concat([df, df_separate], axis=1)

In [16]:
# now we can drop columns that are not needed (timestamp, and also intelligence_type as now we have 3 columns itype1,2,3)
df1.drop(['Timestamp', 'intelligence_type'], axis=1, inplace=True)

In [17]:
df1.head(1)

,mentor_role,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender,itype1,itype2,itype3
0,to support with decision making;to motivate,sustainability,communication skills,once per week ( 15 - 30 minute session),empathy,17-21,not relevant,26,male,musical,existential,interpersonal

#same data cleaning process as for intelligence types will be done  for the column "mentor_rol" as users were able to give up to two priorities

In [18]:
df_role = df1['mentor_role'].str.split(';', expand=True)
df_role

                                       0                                     1
0        to support with decision making                           to motivate
1                            to motivate                                  None
2                      to offer guidance                           to motivate
3                            to motivate             to help to solve problems
4        to support with decision making             to help to solve problems
5                      to offer guidance  to be accessible to answer questions
6        to support with decision making                           to motivate
7                            to motivate             to help to solve problems
8        to support with decision making                           to motivate
9                      to offer guidance                                  None
10                     to offer guidance                                  None
11                     to offer guidance                                  None
12                           to motivate  to be accessible to answer questions
13             to help to solve problems                                  None
14             to help to solve problems                                  None
15  to be accessible to answer questions                                  None

# here the name itype was considered indiscriminately, despite the fact it is not an intelligence type variable. 
# this will be however modified afterwards

In [19]:
df_role.rename(columns={0: "itype4", 1: "itype5"}, inplace=True)
df_role.fillna(0)

                                  itype4                                itype5
0        to support with decision making                           to motivate
1                            to motivate                                     0
2                      to offer guidance                           to motivate
3                            to motivate             to help to solve problems
4        to support with decision making             to help to solve problems
5                      to offer guidance  to be accessible to answer questions
6        to support with decision making                           to motivate
7                            to motivate             to help to solve problems
8        to support with decision making                           to motivate
9                      to offer guidance                                     0
10                     to offer guidance                                     0
11                     to offer guidance                                     0
12                           to motivate  to be accessible to answer questions
13             to help to solve problems                                     0
14             to help to solve problems                                     0
15  to be accessible to answer questions                                     0

# Now we handle the data of mentor_role with string contains as a more efficient way of handling data and changing the names into an uniform variable name by each column by that will be assigned to all the variables in english from the 4 datasets

In [20]:
df_role.loc[df_role['itype4'].str.contains('solve') ==True, 'itype4'] = 'solve_problems'
df_role.loc[df_role['itype5'].str.contains('solve') ==True, 'itype5'] = 'solve_problems'
df_role.loc[df_role['itype4'].str.contains('support') ==True, 'itype4'] = 'support'
df_role.loc[df_role['itype5'].str.contains('support') ==True, 'itype5'] = 'support'
df_role.loc[df_role['itype4'].str.contains('accessible') ==True, 'itype4'] = 'availability'
df_role.loc[df_role['itype5'].str.contains('accessible') ==True, 'itype5'] = 'availability'
df_role.loc[df_role['itype4'].str.contains('guidance') ==True, 'itype4'] = 'guidance'
df_role.loc[df_role['itype5'].str.contains('guidance') ==True, 'itype5'] = 'guidance'
df_role.loc[df_role['itype4'].str.contains('motivate') ==True, 'itype4'] = 'motivate'
df_role.loc[df_role['itype5'].str.contains('motivate') ==True, 'itype5'] = 'motivate'

In [21]:
# this is how the dataset looks like now, and this will be concatenated to the other dataframe
df_role.head(2)

     itype4    itype5
0   support  motivate
1  motivate      None

# concatenating mentor_role dataset to general data_set having a final one with variables in english and spanish.

In [22]:
df_final = pd.concat([df1, df_role], axis=1)
df_final.drop(['mentor_role'], axis=1, inplace=True)

In [23]:
df_final.head(2)

,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender,itype1,itype2,itype3,itype4,itype5
0,sustainability,communication skills,once per week ( 15 - 30 minute session),empathy,17-21,not relevant,26,male,musical,existential,interpersonal,support,motivate
1,design,communication skills,instead of sessions i would prefer weekly e-ma...,enthusiam,not relevant,not relevant,21,male,interpersonal,None,None,motivate,None

In [24]:
#rename columns
df_final.rename(columns={"itype4": "mentor_rol_1", "itype5": "mentor_rol_2"}, inplace=True)
df_final.loc[df_final['mentor_career'].str.contains('technology'), 'mentor_career'] = 'it'
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mentor_career          16 non-null     object
 1   mentor_skills          16 non-null     object
 2   session_freq           16 non-null     object
 3   mentee_attribute       16 non-null     object
 4   mentee_desired_age     16 non-null     object
 5   mentee_desired_gender  16 non-null     object
 6   mentor_age             16 non-null     int64
 7   mentor_gender          16 non-null     object
 8   itype1                 16 non-null     object
 9   itype2                 13 non-null     object
 10  itype3                 5 non-null      object
 11  mentor_rol_1           16 non-null     object
 12  mentor_rol_2           9 non-null      object
dtypes: int64(1), object(12)
memory usage: 1.8+ KB

In [25]:
# QUICK ROUND OF CHECKING ALL VALUES BEFORE EXPORTING DATASET TO BE JOINED TO ADDITIONAL 2 others

In [26]:
df_final['itype1'].value_counts()

mathematical     4
interpersonal    3
existential      3
musical          3
natural          2
linguistic       1
Name: itype1, dtype: int64

In [27]:
df_final['itype2'].value_counts()

interpersonal    5
existential      2
corporal         2
intrapersonal    2
linguistic       1
musical          1
Name: itype2, dtype: int64

In [28]:
df_final['itype3'].value_counts()

corporal         3
linguistic       1
interpersonal    1
Name: itype3, dtype: int64

In [29]:
df_final['mentee_attribute'].value_counts()

empathy           8
enthusiam         5
meticulousness    2
modesty           1
Name: mentee_attribute, dtype: int64

In [30]:
df_final['mentor_career'].value_counts()

design                           5
sustainability                   3
it                               2
art                              1
research                         1
psychology/rrhh                  1
music                            1
marketing                        1
innovation / entrepreneurship    1
Name: mentor_career, dtype: int64

In [31]:
df_final['mentor_skills'].value_counts()

communication skills    8
career know-how         4
writing skills          2
it skills               1
teaching skills         1
Name: mentor_skills, dtype: int64

In [32]:
df_final['session_freq'].value_counts()

once per week ( 15 - 30 minute session)                           6
twice per month ( 15 - 30 minute session)                         5
once per month ( 30 - 60 minute session)                          3
instead of sessions i would prefer weekly e-mail communication    2
Name: session_freq, dtype: int64

# all data looks according to the format, therefore it is possible to export it to the mentors_eu_cleaned.csv file which will be merged with the additional two data sets for creating the one that will be used for the python script.

In [33]:
df_final.to_csv('mentors_eu_cleaned.csv')