Raimundo Burchardt
Student Number: 1779575
Master: Data-Driven-Design

# Data Cleaning : Mentors / mentee seekers from Chile

In [1]:
import pandas as pd

In [2]:
#2) import dataset obtained from the survey in GoogleForm converted into .csv format

In [3]:
df = pd.read_csv('mentores_ch.csv')

In [4]:
#3) overview of data,n° of columns, rows and type of variables to evaluate what data types will be handled

In [5]:
df.head(2)

,Timestamp,intelligence_type,mentor_role,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender
0,2021/06/21 11:11:41 am EET,Inteligencia Natural: ¿Te llama la atención la...,Motivar,Leyes,Conocimientos especializados en el área selecc...,Una vez por semana (sesión de 15 a 30 minutos),Calma,No es relevante,No es relevante,31,Hombre
1,2021/06/21 2:24:51 pm EET,Inteligencia Interpersonal: ¿Te gusta estar co...,Entregar apoyo en la toma de decisiones;Motivar,Sustentabilidad,Habilidades técnicas,Una vez al mes (sesión de 30 a 60 minutos),Empatía,23-29,No es relevante,30,Mujer

In [6]:
# convert whole dataframe to lower_case

In [7]:
df = df.applymap(lambda s:s.lower() if type(s) == str else s)

In [8]:
#3.a) proof of data types and check for null values

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              29 non-null     object
 1   intelligence_type      29 non-null     object
 2   mentor_role            29 non-null     object
 3   mentor_career          29 non-null     object
 4   mentor_skills          29 non-null     object
 5   session_freq           29 non-null     object
 6   mentee_attribute       29 non-null     object
 7   mentee_desired_age     29 non-null     object
 8   mentee_desired_gender  29 non-null     object
 9   mentor_age             29 non-null     int64
 10  mentor_gender          29 non-null     object
dtypes: int64(1), object(10)
memory usage: 2.6+ KB

# it must be said that it does not make much sense to explore data which is still not translated and cleaned. It is important though, to know if there are any unexpected strings or inputs which are stored for instance asor unrecogniyed values. Thats why a preliminar exploration must be done but detailed analysis will be carried on  the final data set

# 5 Data cleaning Intelligence Types - converting the values into a list and separate each input by columns ( users were allowed to give up to three inputs for intelligence types)

In [10]:
df1 = df['intelligence_type'].str.split(';', expand=True)
df1.head(10)

,0,1,2
0,inteligencia natural: ¿te llama la atención la...,inteligencia interpersonal: ¿te gusta estar co...,inteligencia intrapersonal: ¿reflexionas frecu...
1,inteligencia interpersonal: ¿te gusta estar co...,None,None
2,inteligencia natural: ¿te llama la atención la...,None,None
3,inteligencia natural: ¿te llama la atención la...,inteligencia corporal-kinestésica: ¿amas los d...,inteligencia intrapersonal: ¿reflexionas frecu...
4,inteligencia natural: ¿te llama la atención la...,None,None
5,inteligencia musical: ¿te sientes atraído por ...,inteligencia corporal-kinestésica: ¿amas los d...,inteligencia intrapersonal: ¿reflexionas frecu...
6,inteligencia natural: ¿te llama la atención la...,inteligencia musical: ¿te sientes atraído por ...,inteligencia interpersonal: ¿te gusta estar co...
7,inteligencia natural: ¿te llama la atención la...,inteligencia corporal-kinestésica: ¿amas los d...,inteligencia intrapersonal: ¿reflexionas frecu...
8,inteligencia matemática: ¿te llama la atención...,inteligencia visual-espacial: ¿te interesan la...,None
9,inteligencia natural: ¿te llama la atención la...,inteligencia matemática: ¿te llama la atención...,inteligencia interpersonal: ¿te gusta estar co...

 # general values are defined across all dataframes for replacing the whole text string by intelligence type to ensure uniform data across the 3 datasets - the chosen variables will be single words that represent the intelligence type, e.g. "natural", "musical" and so on.

In [11]:
df2 = df1.replace(regex={ r'^inteligencia natural: ¿te llama la atención la naturaleza y sientes que te relaja?.$': 'natural',
                         r'^inteligencia musical: ¿te sientes atraído por la música y por entenderla & crearla?.$': 'musical',
                         r'^inteligencia matemática: ¿te llama la atención la simetría de las cosas, unir diferentes elementos o los juegos de estrategia?.$': 'mathematical',
                         r'^inteligencia existencial: ¿te intriga el sentido de la vida o saber que más hay allá en el universo?.$': 'existencial',
                         r'^inteligencia interpersonal: ¿te gusta estar con gente e interactuar con diferentes personas?.$': 'interpersonal',
                         r'^inteligencia corporal-kinestésica: ¿amas los deportes o crear cosas con tus manos?.$': 'corporal',
                         r'^inteligencia lingüística: ¿te gustan los idiomas, los juegos de palabras o contar historias?.$': 'linguistic',
                         r'^inteligencia visual-espacial: ¿te interesan laberintos, rompecabezas o puedes visualizar el resultado de algo antes de hacerlo?.$': 'visual_spacial',
                         r'^inteligencia intrapersonal: ¿reflexionas frecuentemente sobre tus emociones? ¿te gusta planear cuidadosamente tus metas?.$': 'intrapersonal',
                        })

In [12]:
#renaming columns defining "itype" as equivalent tointelligence type
df2.rename(columns={0: "itype1", 1: "itype2", 2: 'itype3'}, inplace=True)

In [13]:
df2.fillna(0) # search for empty values and fill replace these with 0

,itype1,itype2,itype3
0,natural,interpersonal,inteligencia intrapersonal: ¿reflexionas frecu...
1,interpersonal,0,0
2,natural,0,0
3,natural,corporal,inteligencia intrapersonal: ¿reflexionas frecu...
4,natural,0,0
5,musical,corporal,inteligencia intrapersonal: ¿reflexionas frecu...
6,natural,musical,interpersonal
7,natural,corporal,inteligencia intrapersonal: ¿reflexionas frecu...
8,mathematical,visual_spacial,0
9,natural,mathematical,interpersonal
10,natural,musical,corporal
11,natural,existencial,corporal
12,natural,existencial,corporal
13,natural,mathematical,interpersonal
14,natural,musical,mathematical
15,existencial,interpersonal,inteligencia intrapersonal: ¿reflexionas frecu...
16,existencial,interpersonal,inteligencia intrapersonal: ¿reflexionas frecu...
17,natural,mathematical,interpersonal
18,natural,0,0
19,natural,interpersonal,linguistic
20,natural,0,0
21,musical,mathematical,existencial
22,musical,mathematical,existencial
23,mathematical,0,0
24,natural,mathematical,0
25,mathematical,0,0
26,linguistic,inteligencia intrapersonal: ¿reflexionas frecu...,0
27,mathematical,corporal,0
28,natural,interpersonal,0

# somehow working with REGEX was fine for all of the data types from intelligence types but it did not work for intrapersonal. 
# Therefore this was a way around  using "string contains" to force the change and have cleaned data.

#locate intrapersonal and change all values where Intelligence intrapersonal is true to only intrapersonal

In [14]:
df2.loc[df2['itype3'].str.contains('intrapersonal') ==True, 'itype3'] = 'intrapersonal'
df2.loc[df2['itype2'].str.contains('intrapersonal') ==True, 'itype2'] = 'intrapersonal'
df2.loc[df2['itype1'].str.contains('intrapersonal') ==True, 'itype1'] = 'intrapersonal'

In [15]:
df2.head()

          itype1         itype2         itype3
0        natural  interpersonal  intrapersonal
1  interpersonal           None           None
2        natural           None           None
3        natural       corporal  intrapersonal
4        natural           None           None

In [16]:
# this is the new dataframe for intelligence types which will be concatenated to the main one
df3 = pd.concat([df, df2], axis=1)

In [17]:
# now we can drop columns that are not needed (timestamp, and also intelligence_type as now we have 3 columns itype1,2,3)
df3.drop(['Timestamp', 'intelligence_type'], axis=1, inplace=True)

In [18]:
df3.head(2)

,mentor_role,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender,itype1,itype2,itype3
0,motivar,leyes,conocimientos especializados en el área selecc...,una vez por semana (sesión de 15 a 30 minutos),calma,no es relevante,no es relevante,31,hombre,natural,interpersonal,intrapersonal
1,entregar apoyo en la toma de decisiones;motivar,sustentabilidad,habilidades técnicas,una vez al mes (sesión de 30 a 60 minutos),empatía,23-29,no es relevante,30,mujer,interpersonal,None,None

In [19]:
# same data cleaning process as for intelligence types will be done  for the column "mentor_rol" as users were able to give up to two priorities

In [20]:
df_rol = df3['mentor_role'].str.split(';', expand=True)
df_rol.head(10)

,0,1
0,motivar,None
1,entregar apoyo en la toma de decisiones,motivar
2,entregar apoyo en la toma de decisiones,None
3,ofrecer orientación,motivar
4,ofrecer orientación,motivar
5,ofrecer orientación,entregar apoyo en la toma de decisiones
6,ofrecer orientación,motivar
7,ofrecer orientación,tener disponibilidad para contestar preguntas
8,ofrecer orientación,motivar
9,entregar apoyo en la toma de decisiones,motivar

# here the name itype was considered indiscriminately, despite the fact it is not an intelligence type variable. 
# this will be however modified afterwards

In [21]:
df_rol.rename(columns={0: "itype4", 1: "itype5"}, inplace=True)
df_rol.fillna(0)

,itype4,itype5
0,motivar,0
1,entregar apoyo en la toma de decisiones,motivar
2,entregar apoyo en la toma de decisiones,0
3,ofrecer orientación,motivar
4,ofrecer orientación,motivar
5,ofrecer orientación,entregar apoyo en la toma de decisiones
6,ofrecer orientación,motivar
7,ofrecer orientación,tener disponibilidad para contestar preguntas
8,ofrecer orientación,motivar
9,entregar apoyo en la toma de decisiones,motivar
10,ofrecer orientación,ayudar a resolver problemas
11,ofrecer orientación,motivar
12,ofrecer orientación,motivar
13,ofrecer orientación,motivar
14,entregar apoyo en la toma de decisiones,motivar
15,ofrecer orientación,tener disponibilidad para contestar preguntas
16,ofrecer orientación,tener disponibilidad para contestar preguntas
17,ofrecer orientación,motivar
18,ofrecer orientación,motivar
19,entregar apoyo en la toma de decisiones,motivar
20,ofrecer orientación,tener disponibilidad para contestar preguntas
21,tener disponibilidad para contestar preguntas,motivar
22,motivar,compartir experiencia personal
23,entregar apoyo en la toma de decisiones,0
24,motivar,0
25,ofrecer orientación,0
26,ofrecer orientación,0
27,entregar apoyo en la toma de decisiones,0
28,tener disponibilidad para contestar preguntas,0

# Now we handle the data of mentor_role with string contains as a more efficient way of handling data and changing the names into an uniform variable name by each column by that will be assigned to all the variables in english from the 4 datasets

In [22]:
df_rol.loc[df_rol['itype4'].str.contains('resolver') ==True, 'itype4'] = 'solve_problems'
df_rol.loc[df_rol['itype5'].str.contains('resolver') ==True, 'itype5'] = 'solve_problems'
df_rol.loc[df_rol['itype4'].str.contains('apoyo') ==True, 'itype4'] = 'support'
df_rol.loc[df_rol['itype5'].str.contains('apoyo') ==True, 'itype5'] = 'support'
df_rol.loc[df_rol['itype4'].str.contains('disponibilidad') ==True, 'itype4'] = 'availability'
df_rol.loc[df_rol['itype5'].str.contains('disponibilidad') ==True, 'itype5'] = 'availability'
df_rol.loc[df_rol['itype4'].str.contains('frecer') ==True, 'itype4'] = 'guidance'
df_rol.loc[df_rol['itype5'].str.contains('frecer') ==True, 'itype5'] = 'guidance'
df_rol.loc[df_rol['itype4'].str.contains('tivar') ==True, 'itype4'] = 'motivate'
df_rol.loc[df_rol['itype5'].str.contains('tivar') ==True, 'itype5'] = 'motivate'
df_rol.loc[df_rol['itype5'].str.contains('ompartir exp') ==True, 'itype5'] = 'share personal experiences'

In [23]:
# this is how the dataset looks like now, and this will be concatenated to the other dataframe
df_rol.head()

     itype4    itype5
0  motivate      None
1   support  motivate
2   support      None
3  guidance  motivate
4  guidance  motivate

# concatenating mentor_role dataset to general data_set having a final one with variables in english and spanish.

In [24]:
df_final = pd.concat([df3, df_rol], axis=1)

# here the data is already prepared in terms of list separations, and now it is possible to translate the rest of data into english

In [25]:
# drop mentor_rol as it was converted into new columns (itype4 and itype5)
df_final.drop(['mentor_role'], axis=1, inplace=True)

In [26]:
#quick overview of  the dataset that will be translated
df_final.head(2)

,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender,itype1,itype2,itype3,itype4,itype5
0,leyes,conocimientos especializados en el área selecc...,una vez por semana (sesión de 15 a 30 minutos),calma,no es relevante,no es relevante,31,hombre,natural,interpersonal,intrapersonal,motivate,None
1,sustentabilidad,habilidades técnicas,una vez al mes (sesión de 30 a 60 minutos),empatía,23-29,no es relevante,30,mujer,interpersonal,None,None,support,motivate

In [27]:
df_final.loc[df_final['mentee_attribute'].str.contains('empat'), 'mentee_attribute'] = 'empathy'
df_final.loc[df_final['mentee_attribute'].str.contains('tusiasmo'), 'mentee_attribute'] = 'enthusiasm'
df_final.loc[df_final['mentee_attribute'].str.contains('umildad'), 'mentee_attribute'] = 'modesty'
df_final.loc[df_final['mentee_attribute'].str.contains('culosidad'), 'mentee_attribute'] = 'meticulousness'
df_final.loc[df_final['mentee_attribute'].str.contains('alma'), 'mentee_attribute'] = 'calmness'

In [28]:
#Translating values into english for column mentor_career
df_final.loc[df_final['mentor_career'].str.contains('iseño'), 'mentor_career'] = 'design'
df_final.loc[df_final['mentor_career'].str.contains('ti'), 'mentor_career'] = 'it'
df_final.loc[df_final['mentor_career'].str.contains('rte'), 'mentor_career'] = 'art'
df_final.loc[df_final['mentor_career'].str.contains('tentabilidad'), 'mentor_career'] = 'sustainability'
df_final.loc[df_final['mentor_career'].str.contains('dicina'), 'mentor_career'] = 'medicine'
df_final.loc[df_final['mentor_career'].str.contains('dimiento'), 'mentor_career'] = 'entrepeneurship'
df_final.loc[df_final['mentor_career'].str.contains('sicolo'), 'mentor_career'] = 'psychology/rrhh'
df_final.loc[df_final['mentor_career'].str.contains('keting'), 'mentor_career'] = 'marketing'
df_final.loc[df_final['mentor_career'].str.contains('mpras'), 'mentor_career'] = 'purchase/sales'
df_final.loc[df_final['mentor_career'].str.contains('yes'), 'mentor_career'] = 'law'
df_final.loc[df_final['mentor_career'].str.contains('vestiga'), 'mentor_career'] = 'research'
df_final.loc[df_final['mentor_career'].str.contains('esarrollo'), 'mentor_career'] = 'web development'
df_final.loc[df_final['mentor_career'].str.contains('inanza'), 'mentor_career'] = 'finance'
#Translating values into english for mentor skills
df_final.loc[df_final['mentor_skills'].str.contains('onocimientos'), 'mentor_skills'] = 'career know-how'
df_final.loc[df_final['mentor_skills'].str.contains('écnica'), 'mentor_skills'] = 'it skills'
df_final.loc[df_final['mentor_skills'].str.contains('escritura'), 'mentor_skills'] = 'writing skills'
df_final.loc[df_final['mentor_skills'].str.contains('lectura'), 'mentor_skills'] = 'reading skills'
df_final.loc[df_final['mentor_skills'].str.contains('nicacional'), 'mentor_skills'] = 'communication skills'
df_final.loc[df_final['mentor_skills'].str.contains('enseñar'), 'mentor_skills'] = 'teaching skills'
#Translating values into english for session _ freq
df_final.loc[df_final['session_freq'].str.contains('os veces al mes'), 'session_freq'] = 'twice per month ( 15 - 30 minute session)'
df_final.loc[df_final['session_freq'].str.contains('na vez al mes'), 'session_freq'] = 'once per month ( 30 - 60 minute session)'
df_final.loc[df_final['session_freq'].str.contains('lugar de se'), 'session_freq'] = 'only weekly email communication)'
df_final.loc[df_final['session_freq'].str.contains('semana'), 'session_freq'] = 'once per week ( 15 - 30 minute session)'
#Translating values into english for mentor age
df_final.loc[df_final['mentee_desired_age'].str.contains('relevante'), 'mentee_desired_age'] = 'not relevant'
#Translating values into english for mentee_gender
df_final.loc[df_final['mentor_gender'].str.contains('hombre'), 'mentor_gender'] = 'male'
df_final.loc[df_final['mentor_gender'].str.contains('mujer'), 'mentor_gender'] = 'female'
df_final.loc[df_final['mentor_gender'].str.contains('hombre transgénero'), 'mentor_gender'] = 'transgender male'
df_final.loc[df_final['mentor_gender'].str.contains('mujer transgénero'), 'mentor_gender'] = 'transgender female'
df_final.loc[df_final['mentor_gender'].str.contains('no decirlo'), 'mentor_gender'] = 'not relevant'
#Translating values into english for mentor_gender
df_final.loc[df_final['mentee_desired_gender'].str.contains('hombre'), 'mentee_desired_gender'] = 'male'
df_final.loc[df_final['mentee_desired_gender'].str.contains('mujer'), 'mentee_desired_gender'] = 'female'
df_final.loc[df_final['mentee_desired_gender'].str.contains('hombre transgénero'), 'mentee_desired_gender'] = 'transgender male'
df_final.loc[df_final['mentee_desired_gender'].str.contains('mujer transgénero'), 'mentee_desired_gender'] = 'transgender female'
df_final.loc[df_final['mentee_desired_gender'].str.contains('relevante'), 'mentee_desired_gender'] = 'not relevant'

In [29]:
#rename columns
df_final.rename(columns={"itype4": "mentor_role_1", "itype5": "mentor_role_2"}, inplace=True)
df_final.head(6)

#df_final.insert(0, 'user_id', df_final.index + 100)

,mentor_career,mentor_skills,session_freq,mentee_attribute,mentee_desired_age,mentee_desired_gender,mentor_age,mentor_gender,itype1,itype2,itype3,mentor_role_1,mentor_role_2
0,law,career know-how,once per week ( 15 - 30 minute session),calmness,not relevant,not relevant,31,male,natural,interpersonal,intrapersonal,motivate,None
1,sustainability,it skills,once per month ( 30 - 60 minute session),empathy,23-29,not relevant,30,female,interpersonal,None,None,support,motivate
2,finance,communication skills,twice per month ( 15 - 30 minute session),enthusiasm,23-29,not relevant,29,male,natural,None,None,support,None
3,design,career know-how,once per week ( 15 - 30 minute session),modesty,18 - 22,female,26,male,natural,corporal,intrapersonal,guidance,motivate
4,psychology/rrhh,communication skills,twice per month ( 15 - 30 minute session),enthusiasm,not relevant,female,58,female,natural,None,None,guidance,motivate
5,it,communication skills,once per week ( 15 - 30 minute session),modesty,18 - 22,not relevant,37,male,musical,corporal,intrapersonal,guidance,support

In [30]:
# QUICK ROUND OF CHECKING ALL VALUES BEFORE EXPORTING DATASET TO BE JOINED TO ADDITIONAL 2 others

In [31]:
df_final['itype1'].value_counts()

natural          18
mathematical      4
musical           3
existencial       2
interpersonal     1
linguistic        1
Name: itype1, dtype: int64

In [32]:
df_final['itype2'].value_counts()

mathematical      6
interpersonal     5
corporal          4
musical           3
existencial       2
intrapersonal     1
visual_spacial    1
Name: itype2, dtype: int64

In [33]:
df_final['itype3'].value_counts()

intrapersonal    6
interpersonal    4
corporal         3
existencial      2
mathematical     1
linguistic       1
Name: itype3, dtype: int64

In [34]:
df_final['mentee_attribute'].value_counts()

enthusiasm        16
empathy            5
modesty            4
calmness           3
meticulousness     1
Name: mentee_attribute, dtype: int64

In [35]:
df_final['mentor_career'].value_counts()

it                 8
entrepeneurship    4
psychology/rrhh    3
law                2
purchase/sales     2
design             2
coaching           2
medicine           1
finance            1
idiomas            1
management         1
web development    1
sustainability     1
Name: mentor_career, dtype: int64

In [36]:
df_final['mentor_skills'].value_counts()

communication skills    10
it skills                8
career know-how          7
teaching skills          2
reading skills           1
writing skills           1
Name: mentor_skills, dtype: int64

In [37]:
df_final['session_freq'].value_counts()

once per week ( 15 - 30 minute session)      16
twice per month ( 15 - 30 minute session)     9
once per month ( 30 - 60 minute session)      3
only weekly email communication)              1
Name: session_freq, dtype: int64

In [38]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mentor_career          29 non-null     object
 1   mentor_skills          29 non-null     object
 2   session_freq           29 non-null     object
 3   mentee_attribute       29 non-null     object
 4   mentee_desired_age     29 non-null     object
 5   mentee_desired_gender  29 non-null     object
 6   mentor_age             29 non-null     int64
 7   mentor_gender          29 non-null     object
 8   itype1                 29 non-null     object
 9   itype2                 22 non-null     object
 10  itype3                 17 non-null     object
 11  mentor_role_1          29 non-null     object
 12  mentor_role_2          21 non-null     object
dtypes: int64(1), object(12)
memory usage: 3.1+ KB

# all data looks according to the format, therefore it is possible to export it to the mentees_chile_cleaned.csv file which will be merged with the additional two data sets for creating the one that will be used for the python script.

In [39]:
df_final.to_csv('mentors_chile_cleaned.csv')